$primary: #3952fd;
$btn_bgc: #fff;
$bgc: #f0f2f7;
$ipt-height: 60px;
$btnColor: #f0f2f7;
$btnfontColor: #3952fd;
//通用背景样式
@mixin bg_style {
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 20px;
}
//登录的用户名和密码输入框
@mixin ipt-user {
  box-sizing: border-box;
  outline: none;
  margin-bottom: 35px;
  padding-left: 20px;
  border: 1px solid #ccc;
  width: 440px;
  height: $ipt-height;
  border-radius: 40px;
}
//登录的按钮
@mixin btn-user {
  @include ipt-user;
  color: #f3ffff;
  background-color: $primary;
}
//编辑按钮，重置按钮，添加按钮
@mixin button-Tools($color: $primary, $fontColor: $btnColor) {
  width: 80px;
  height: 30px;
  border: none;
  background-color: $color;
  font-size: 12px;
  color: $fontColor;
  border-radius: 5px;
  margin-left: 20px;
}
//大号输入框
@mixin ipt1 {
  margin-right: 20px;
  width: 250px;
  height: 30px;
}
//小号输入框
@mixin ipt2 {
  margin-right: 20px;
  width: 160px;
  height: 30px;
}
//教师，学生，班级的信息展示页面
@mixin table {
  width: 100%;
  // height: 100%;
  // height: 75vh;
  // height: 2000px;
  .ipt {
    @include ipt2;
  }
  .tools {
    @include bg_style;
    height: 160px;
    .row {
      line-height: 30px;
      .title {
        text-align: right;
        width: 100px;
      }
    }
    hr {
      width: 90%;
      text-align: center;
      margin-top: 30px;
      border: 2px solid #eeeeee;
    }
    .btn {
      margin-top: 20px;
      // .btn1 {
      //   @include button-Tools();
      // }
      // .btn2 {
      //   @include button-Tools($btnColor, $btnfontColor);
      // }
    }
  }
  .main {
    @include bg_style;
    border-radius: 10px;
    .table {
      border-radius: 10px;
    }
    .header {
      box-sizing: border-box;
      float: right;
      padding-right: 20px;
      margin-bottom: 10px;
    }
  }
  .btn1 {
    @include button-Tools();
  }
  .btn2 {
    @include button-Tools($btnColor, $btnfontColor);
  }
}
//教师，学生，班级的编辑页面
@mixin edit {
  @include bg_style;
  .basic {
    margin-bottom: 40px;
  }
  .header {
    padding-left: 50px;
    width: 200px;
    line-height: 30px;
    border-left: 4px solid $btnfontColor;
  }
  .row {
    line-height: 30px;
    margin-top: 30px;
    .title {
      text-align: right;
      width: 100px;
    }
  }
  .ipt1 {
    @include ipt1;
  }
  .ipt2 {
    @include ipt2;
  }
  .btn {
    margin-top: 50px;
    .btn1 {
      @include button-Tools();
    }
    .btn2 {
      @include button-Tools($btnColor, $primary);
    }
  }
}
// 年级和兴趣课程
@mixin grade_interest {
  @include table;
  .main {
    display: flex;
    .aside {
      position: relative;

      width: 150px;
      height: 540px;
      overflow: hidden;
      border-right: 2px solid #bbb;
    }
    .table {
      height: 80%;
      width: 85%;
      margin: 0 auto;
      .head{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        width: 100%;
        height: 30px;
        .title{
          line-height: 30px;
          width: 100px;
          border-left: 2px solid $primary;
          text-align: center;
          color: $primary;
        }
        .delete{
          width: 50px;
          text-align: center;
          .delete_btn{
            line-height: 30px;
            font-size: 20px;
          }
        }
      }


      .h_main {
        .title,
        .content {
          display: flex;
          border: 1px solid #eeeeee;
          .box {
            height: 60px;
            line-height: 60px;
            text-align: center;
            width: 25%;
          }
        }
      }
    }
  }
  .dialog_btn {
    width: 100%;
    margin: 0 auto;
  }
  .none {
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    text-align: center;
    border: 1px solid #eeeeee;
  }
}
